@charset "UTF-8";
@font-face {
  font-family: "FA5 Regular";
  src: url("/fonts/fa-regular-400.woff2") format("woff2"), url("/fonts/fa-regular-400.woff") format("woff"), url("/fonts/fa-regular-400.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "FA5 Brands";
  src: url("/fonts/fa-brands-400.woff2") format("woff2"), url("/fonts/fa-brands-400.woff") format("woff"), url("/fonts/fa-brands-400.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "FA5 Solid";
  src: url("/fonts/fa-solid-900.woff2") format("woff2"), url("/fonts/fa-solid-900.woff") format("woff"), url("/fonts/fa-solid-900.ttf") format("truetype");
  font-display: swap;
}
.facebook-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Brands" !important;
}

.linkedin-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Brands" !important;
}

.github-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Brands" !important;
}

.twitter-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Brands" !important;
}

.download-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Solid" !important;
}

.game-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Solid" !important;
}

.film-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Solid" !important;
}

.football-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Solid" !important;
}

.music-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Solid" !important;
}

.search-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Solid" !important;
}

.info-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Solid" !important;
}

.client-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Solid" !important;
}

.calender-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Solid" !important;
}

.clock-icon:before {
  text-decoration: none;
  padding: 0 0.8rem;
  content: "";
  display: inline-block;
  font-family: "FA5 Solid" !important;
}

.fix-icon-pos {
  padding-right: 5px;
}

.ul.no-style {
  list-style-type: none;
}
.ul.inline {
  list-style-type: none;
  padding-left: 0;
  display: inline;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.badge.primary {
  color: #fff;
  background-color: #434E5E;
}
